
/*/////////////////////////////*/
/*  Div's universais */
/*/////////////////////////////*/

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.Telas{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #000000;
    background: #f0f0f0;
    display: none;
}
.Ativa {
    display: block;
}
#textoCopyright{
    bottom: 5%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: black;

}
/* Navbar(Padrão) */
.Navbar{
    background: #8FBC8F;
    border: 5px solid #000000;
    color: #ffffff;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.Navbar span{
    line-height: 50px;
}

/*/////////////////////////////*/
/* Div's específicas */
/*/////////////////////////////*/

/*/////////////////////////////*/
/* TELA INICIAL */
/*/////////////////////////////*/

#telaInicial{
    height: 110%;
}

/* PADRAO DE TEXTO */

#textoTelaInicial{
    font-size: 30px;
    color: black;
    line-height: 50px;
    text-align: center;
}

/* BOTOES TELA INICIAL */
#iniciarSessaoBtn{
    background: #8FBC8F;
    border: 2.5px solid black;
    position: absolute;
    bottom: 35%;
    left: 25%;
    width: 50%;
    height: 50px;
    font-size: 20.05px;
    line-height: 20.05px;
    color: black;
}

/* GERAL */

p#textoPInicial{
    text-decoration: underline;
}
#boxSessao{
    position: absolute;
    width: 100%;
    height: 30%;
}

/*/////////////////////////////*/
/* LOGIN */
/*/////////////////////////////*/

/* BOTOES LOGIN */
#entrarBtn{
    position: absolute;
    width: 38%;
    height: 40px;
    left: 30.5%;
    bottom: 40%;
    border: 2.5px solid #000000;
    background: #8FBC8F;
    color: #ffffff;
    line-height: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px; 
}

#inscricaoBtn{
    position: absolute;
    width: 62.5%;
    height: 50px;
    bottom: 25%;
    left: 18.5%;
    background: #8FBC8F;
    border: 2.5px solid #000000;
    color: #ffffff;
    text-align: center;
    line-height: 0px;
    font-size: 17.5px;
    text-transform: uppercase;
}

/* GERAL */

#formLoginBox{
    position: absolute;
    width: 60%;
    height: 70px;
    left: 19%;
    bottom: 60%;
}
input.formLogin{
    height: 29px;
    border: 2.5px solid #000000;
    width: 100%;
}
#textoTelaLogin{
    position: absolute;
    color: #4B0082;
    bottom: 35%;
    left: 30%;
}

/*/////////////////////////////*/
/* INSCRICAO */
/*/////////////////////////////*/

/* PADRAO DE TEXTO */

#textoTelaInscricao{
    color: black;
    font-size: 25px;
    text-align: center;
}

/* BOTOES INSCRICAO */

#enviarBtn{
    position: absolute;
    bottom: 30%;
    width: 45%;
    left: 27%;
    height: 30px;
    background: #8FBC8F;
    border: 2.5px solid black;
    font-size: 23px;
    text-align: center;
    line-height: 0%;
    color: #ffffff;
    text-transform: uppercase;
}

/* GERAL */

#formInscricaoBox{
    width: 100%;
    height: 70%;
    background: #f0f0f0;
}
p#textoInscricao{
text-decoration: underline;
}
#FormInscricao{
    background: #f0f0f0;
    position: absolute;
    bottom: 50%;
    left: 15%;
    width: 75%;
}

/*/////////////////////////////*/
/* TELA DE INICIO */
/*/////////////////////////////*/

/* PADRAO DE TEXTO */



/* BOTOES INICIO */

#listApp button{
    border: 0.7px solid black;
    height: 33%;
    font-size: 20px;
}

/* GERAL */

#listApp{
    position: absolute;
    width: 100%;
    height: 50%;
}
/*/////////////////////////////*/
/* TELA DA CALCULADORA */
/*/////////////////////////////*/

/* PADRAO DE TEXTO */

#textoTelaCalculadora{
    position: absolute;
    width: 90%;
    height: 10%;
    background: #363636;
    border: 2.5px solid black;
    left: 4.5%;
    bottom: 75%;
    color: white;
    font-size: 30px;
    text-align: right;
    line-height: 60px;
}

/* BOTOES CALCULADORA */

#calculadoraBox button{
    width: 25%;
    height: 15%;
    background: #DCDCDC;
    border: 2px solid #696969;
}
#btnsCal0{
    position: absolute;
    left: 0%;
    bottom: 80%;
}
#btnsCal1{
    position: absolute;
    left: 25%;
    bottom: 80%;
}
#btnsCal2{
    position: absolute;
    left: 50%;
    bottom: 80%;
}
#btnsCal3{
    position: absolute;
    left: 75%;
    bottom: 80%;
}
#btnsCal4{
    position: absolute;
    left: 0%;
    bottom: 65%;
}
#btnsCal5{
    position: absolute;
    left: 25%;
    bottom: 65%;
}
#btnsCal6{
    position: absolute;
    left: 50%;
    bottom: 65%;
}
#btnsCal7{
    position: absolute;
    left: 75%;
    bottom: 65%;
}
#btnsCal8{
    position: absolute;
    left: 0%;
    bottom: 50%;
}
#btnsCal9{
    position: absolute;
    left: 25%;
    bottom: 50%;
}
#btnsCal10{
    position: absolute;
    left: 50%;
    bottom: 50%;
}
#btnsCal11{
    position: absolute;
    left: 75%;
    bottom: 50%;
}
#btnsCal12{
    position: absolute;
    left: 0%;
    bottom: 35%;
}
#btnsCal13{
    position: absolute;
    left: 25%;
    bottom: 35%;
}
#btnsCal14{
    position: absolute;
    left: 50%;
    bottom: 35%;
}
#btnsCal15{
    position: absolute;
    left: 75%;
    bottom: 35%;
}
#btnsCal16{
    position: absolute;
    left: 0%;
    bottom: 20%;
}
#btnsCal17{
    position: absolute;
    left: 25%;
    bottom: 20%;
}
#btnsCal18{
    position: absolute;
    left: 50%;
    bottom: 20%;
}
#btnsCal19{
    position: absolute;
    left: 75%;
    bottom: 20%;
}

/* GERAL */
#telaCalculadora{
    width: 100%;
    width: 100%;
    background: #696969;
}

#calculadoraBox{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 20%;
}
#textoCopyrightCal{
    bottom: 5%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}
